.con_projecs {
  width: 100%;
  margin-top: 10px;
  color: #fff;
  width: 100%;
  background-color: black;
  padding: 0px 100px;
  overflow: hidden;
}
.projects_holder {
  width: 100%;
  text-align: center;
}

.project_item {
  margin: 20px 0px;
  width: 100%;
  padding: 25px 10px;
  border-radius: 17px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  transition: all 0.5s cubic-bezier(0.85, 0.9, 0, 0.37);
  position: relative;
}
.project_item::after {
  content: "";
  background: rgba(242, 164, 87, 0.1);
  position: absolute;
  width: 30%;
  transform: translateX(145px);
  height: 90%;
  top: 50px;
  bottom: 0;
  border-radius: 17px;
  transition: all ease-in-out 0.5s;
}
.project_item:hover.project_item::after {
  border-radius: 120%;
  transform: translateX(680px);
  background: rgba(143, 145, 140, 0.3);
}

.project_item:nth-child(even) {
  flex-direction: row-reverse;
}
.project_item:nth-child(even).project_item::after {
  transform: translateX(-145px);
  transition: all 0.5s ease-in-out;
}
.project_item:hover.project_item:nth-child(even).project_item::after {
  border-radius: 120%;
  transform: translateX(-680px);
  background: rgba(143, 145, 140, 0.3);
}
.project_con {
  object-fit: cover;
  width: 60%;
  margin: 0 auto;

  border-radius: 17px;

  transition: all 0.5s cubic-bezier(0.85, 0.9, 0, 0.37);
  transform-origin: center;
}

.project_img {
  width: 100%;
  border-radius: 5px;
  transform-origin: center;

  filter: invert(30%);
  transform: scale(0.9);
  transition: all 0.5s ease-in-out;
}
.project_item:hover .project_img {
  filter: invert(0%);
  transform: scale(1);
}

.details {
  width: 40%;
}

.title {
  font-family: "Kufam", cursive;
  font-size: 1.8rem;
}
.deets {
  transition: all 0.3s ease-in-out;
  font-family: "Kufam", cursive;
  font-size: 1rem;
}

.project-btn {
  border: none;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  font-family: "Kufam", cursive;
  padding: 10px;
  outline: none;
}

@media only screen and (max-width: 769px) {
  .con_projecs {
    margin-top: 30px;
  }
  .con_projecs {
    padding: 10px;
  }
}

@media only screen and (max-width: 512px) {
  .con_projecs {
    padding: 10px;
  }
  .project_con {
    width: 50%;
  }
  .deets {
    width: 50%;
  }
}
