.about_section {
  height: 800px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 10px 35px;
  background: #fff;
  position: relative;
  overflow: hidden;
  /* border: 2px solid green; */
}
/* .about_section:before {
  content: "";
  border-radius: 0 0 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ddbbbb;
} */
.sec_one {
  width: 70%;
  /* height: 450px; */
  text-align: center;
  margin: 10px auto;
  padding: 10px 85px;
}

.skill_list {
  width: 70%;
  padding: 10px 15px;
  margin: 10px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.left_skill {
  padding: 10px;
  width: 45%;
  box-shadow: -3px 3px -1px #d1bfbf;
  font-family: "Raleway", sans-serif;
  display: block;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
}

.right_skill {
  width: 45%;
  display: block;
  box-shadow: -3px 3px -1px #d1bfbf;
  padding: 10px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  border-radius: 10px;
  background-color: #fff;
}
.skill_title {
  width: 100%;
  font-family: "Luckiest Guy", cursive;
  text-align: center;
  font-size: 2rem;
}
.skill {
  line-height: 25px;
  padding: 5px;
  font-weight: 200;
  border: 2px solid rgba(0, 0, 0, 0.7);
  margin: 10px auto;
  width: 50%;
  border-radius: 5px;
  box-shadow: -2px 2px 2px rgba(255, 255, 253, 0.2);
}
.sec_two {
  width: 40%;
  height: 400px;
  background: url(../../../public/images/lady.svg),
    linear-gradient(to top, rgba(0, 168, 168, 0.3), rgba(238, 125, 125, 0.7));
  background-size: 37% 100%;
  background-repeat: no-repeat, repeat;
  background-position: center;
  border-radius: 17px;
  transition: all 3s ease-in-out;
  transform: scale(0.8);
  box-shadow: -3px -3px 10px #d1bfbf;
  border-radius: 50% 50% 50% 50%;
}
.sec_two:hover {
  box-shadow: -3px -3px 30px #d1bfbf;
  transition: all 3s ease-in-out;
}
.head {
  font-family: "Luckiest Guy", cursive;
  text-align: center;
  font-size: 2rem;
}

.text {
  padding: 12px 10px;
  font-size: 0.9rem;
  margin: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  line-height: 25px;
}
.clear {
  opacity: 100;

  transition: all 0.3s ease-in-out;
}
.un_clear {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 769px) {
  .about_section {
    height: 1300px;
    display: block;
    margin-top: 20px;
    padding: 10px;
  }
  .sec_one {
    width: 100%;
    height: 450px;
    text-align: center;

    padding: 10px;
  }
  .skill_list {
    width: 100%;
    margin-top: 20px;
    height: 450px;
    display: block;
  }
  .left_skill,
  .right_skill {
    width: 100%;
    height: 300px;
  }
}
@media only screen and (max-width: 769px) and (min-width: 1024px) {
}
