.about_section {
  height: 580px;
  /* border: 2px solid green; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background: #f9f9f9;
}

.sec_one {
  width: 50%;
  height: 450px;
  padding: 5px 10px;
}
.sec_two {
  width: 45%;
  height: 450px;
  background: url(../../../public/images/lady.svg),
    linear-gradient(to top, rgba(0, 168, 168, 0.3), rgba(238, 125, 125, 0.7));
  background-size: 37% 100%;
  background-repeat: no-repeat, repeat;
  background-position: center;
  border-radius: 17px;
  transition: all 3s ease-in-out;
  transform: scale(0.8);
}
.sec_two:hover {
  /* transition: all 1s ease-in-out; */
}
.head {
  font-family: "Luckiest Guy", cursive;
  text-align: center;
  font-size: 2rem;
}

.text {
  padding: 12px 10px;
  font-size: 0.9rem;
  margin: 10px;
  font-family: "Kufam", cursive;
  color: grey;
}
.clear {
  opacity: 100;

  transition: all 0.3s ease-in-out;
}
.un_clear {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 769px) {
  .about_section {
    height: 900px;
    display: block;
    margin-top: 20px;
    padding: 10px;
  }
  .sec_one {
    width: 100%;
    height: 450px;
    text-align: center;
  }
  .sec_two {
    width: 100%;
    margin-top: 20px;
    height: 400px;
  }
}
