.menu_box {
  border: 2px solid blue;
  position: absolute;
  width: 60%;
  z-index: 5;
  top: 0px;
  right: 0;
  padding: 20px 15px;
  height: 450px;
  /* display: block;
  text-align: center; */
}

.menu_btn {
  width: 50px;
  height: 50px;
  padding: 15px 10px;
  transform: translateX(610px);
}

.menu_btn .hamburger {
  width: 27px;
  height: 4px;
  background-color: #000;
  cursor: pointer;
}
.menu_btn .hamburger::before {
  content: "";
  width: 27px;
  height: 4px;
  background-color: #000;
  position: absolute;
  transform: translateY(-8px);
}

.menu_btn .hamburger::after {
  content: "";
  width: 27px;
  height: 4px;
  background-color: #000;
  position: absolute;
  transform: translateY(8px);
}

.item_box {
  display: block;
  width: 70%;
  border: 2px solid red;
  padding: 15px 10px;
  margin: 0 auto;
  text-align: center;
  height: 350px;
}
.menu_item {
  color: #fd8c01;
  transition: all 0.9s cubic-bezier(0.85, 0.9, 0, 0.37);
  display: block;
  margin: 10px;
  padding: 10px;
  font-family: "Kufam", cursive;
  position: relative;
  line-height: 36px;
  font-size: 1.3rem;
}

.menu_item::after {
  content: "";
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 5px;
  left: 35%;
  position: absolute;
  background: linear-gradient(
    to right,
    rgba(253, 140, 1, 0.3),
    rgba(253, 140, 1, 0.7)
  );
  transition: width 0.9s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.menu_item:hover {
  transform: scale(1.1);
  transition: all 0.9s cubic-bezier(0.85, 0.9, 0, 0.37);
}

.menu_item:hover::after {
  width: 40%;
}
