.menu_box {
  position: fixed;
  width: 33.3%;
  z-index: 5;
  top: 0px;
  right: 0;
  padding: 55px 15px;
  height: 100vh;
  background: #000;
  box-shadow: 2px 12px 75px rgba(77, 0, 102, 0.1);
}
.menu_box.bg_white {
  background: rgba(255, 255, 100, 0.1);
}
.menu_box.show {
  transform: translateX(0);
  transition: all 0.5s cubic-bezier(0.85, 0.9, 0, 0.37);
}
.menu_box.hide {
  transform: translateX(500px);
  transition: all 0.5s cubic-bezier(0.85, 0.9, 0, 0.37) 1.5s;
}
.menu_btn {
  width: 48px;
  height: 42px;
  padding: 18px 10px;
  position: fixed;
  transform: translate(1150px, -55px);
  cursor: pointer;

  border-radius: 8px;
  float: right;
  z-index: 6;
  box-shadow: -3px -3px -1px #d1bfbf;
  background: #191919;
}

.menu_btn .hamburger {
  width: 27px;
  height: 3px;
  background-color: #fff;
  cursor: pointer;
  transition: all 1s ease-in-out 1.3s;
}
.menu_btn .hamburger::before {
  content: "";
  width: 27px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  transform: translateY(-8px);
  transition: all 1s ease-in-out 1.3s;
}

.menu_btn .hamburger::after {
  content: "";
  width: 27px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  transform: translateY(8px);
  transition: all 1s ease-in-out 1.3s;
}

.menu_btn .bg_white {
  background-color: #fff;
  /* transition: all 0.3s ease-in-out; */
}
.menu_btn .bg_white:before,
.menu_btn .bg_white:after {
  background-color: #fff;
  /* transition: all 0.3s ease-in-out; */
}

.menu_btn .open::before {
  background: linear-gradient(
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.7)
  );
  transform: rotate(45deg);
  transition: all 0.5s ease-in-out;
}
.menu_btn .open {
  background-color: transparent;
  /* transform: rotate(45deg); */
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.menu_btn .open::after {
  background: linear-gradient(
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.7)
  );
  transform: rotate(135deg);
  transition: all 0.5s ease-in-out;
}
.item_box {
  display: block;
  width: 70%;
  padding: 25px 10px;
  margin: 30px auto;
  text-align: center;
  height: 370px;
}
.menu_item {
  background: linear-gradient(
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.7)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.9s cubic-bezier(0.85, 0.9, 0, 0.37);
  display: block;
  margin: 10px;
  padding: 10px;
  font-family: "Kufam", cursive;
  position: relative;
  line-height: 36px;
  font-size: 1.3rem;
  transform-origin: center;
}
.menu_item.bg_white {
  /* background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)); */
  /* color: #000; */
}

.menu_item::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 5px;
  left: 35%;
  position: absolute;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.8)
  );
  transition: width 0.9s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.menu_item:hover {
  transform: scale(1.1);
  background: linear-gradient(rgb(255, 255, 255));
  transition: all 0.9s cubic-bezier(0.85, 0.9, 0, 0.37);
}

.menu_item:hover::after {
  width: 40%;
}

.menu_item.about {
  transform: translate(0, 0);
  transition: all 1s cubic-bezier(0.85, 0.9, 0, 0.37) 0.2s;
  opacity: 100;
}

.menu_item.projects {
  transform: translate(0, 0);
  transition: all 1s cubic-bezier(0.85, 0.9, 0, 0.37) 0.4s;
  opacity: 100;
}

.menu_item.skills {
  transform: translate(0, 0);
  transition: all 1s cubic-bezier(0.85, 0.9, 0, 0.37) 0.6s;
  opacity: 100;
}
.menu_item.contact {
  transform: translate(0, 0);
  transition: all 1s cubic-bezier(0.85, 0.9, 0, 0.37) 0.8s;
  opacity: 100;
}

.menu_item.item_one {
  transform: translate(0, 60px);
  opacity: 0;
  transition: all 1s cubic-bezier(0.85, 0.9, 0, 0.37) 0.8s;
}

.menu_item.item_two {
  transform: translate(0, 90px);
  opacity: 0;
  transition: all 1s cubic-bezier(0.85, 0.9, 0, 0.37) 0.6s;
}

.menu_item.item_three {
  transform: translate(0, 120px);
  opacity: 0;
  transition: all 1s cubic-bezier(0.85, 0.9, 0, 0.37) 0.4s;
}
.menu_item.item_four {
  transform: translate(0, 150px);
  opacity: 0;
  transition: all 1s cubic-bezier(0.85, 0.9, 0, 0.37) 0.2s;
}
@media only screen and (max-width: 1200px) {
  .menu_btn {
    transform: translate(900px, -55px);
  }
}
@media only screen and (max-width: 769px) {
  .menu_btn {
    transform: translate(650px, -55px);
    position: fixed;
  }
  .menu_box {
    width: 63.3%;
  }
}

@media only screen and (max-width: 512px) {
  .menu_btn {
    transform: translate(270px, -55px);
  }
}
